.AuthForm {
  padding: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.FormInput {
  border: none;
  background: rgba(128, 128, 128, 0.296);
  padding: 10px;
  border-bottom: 3px solid white;
  width: 300px;
  text-align: center;
  outline: none;
  color: white;
  font-size: large;
}
.FormInput::placeholder {
  color: rgba(255, 255, 255, 0.768);
}

.FromBtn {
  width: 150px;
  height: 40px;
}
.Submit {
  background-color: #1d103d;
  border: thin solid #1d103d;
  color: white;
  transition: all 500ms;
}
.Cancel {
  background-color: #3f0c24;
  border: thin solid#2F1320;
  color: white;
  transition: all 500ms;
}

.Submit:hover,
.Cancel:hover {
  filter: brightness(0.8) invert(1);
}
.FormParagraph {
  color: rgba(255, 255, 255, 0.522);
}
.FormLink {
  color: white;
}
