.RoomSpaceHeader {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid rgba(128, 128, 128, 0.385);
}

.RoomNameInput {
  width: 60% !important;
  text-align: left !important;
  color: black !important;
  border-bottom-color: black !important;
}
.RoomNameInput::placeholder {
  color: black !important;
}

.RoomListSelection {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.RoomFriendSelectionItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateRoomBtn {
  width: 100px;
  height: 40px;
  background-color: #438ff2;
  border: thin solid #438ff2;
  color: white;
  transition: all 500ms;
}

.CancelBtn {
  width: 100px;
  height: 40px;
  background-color: white;
  border: 2px solid#110820;
  color: #110820;
  transition: all 500ms;
}

.DeleteBtn {
  width: 150px;
  height: 60px;
  margin-bottom: 20px;
  background-color: white;
  border: 2px solid#e11c1c;
  color: #e11c1c;
  transition: all 500ms;
}

.CreateRoomBtn:hover {
  filter: brightness(0.8) invert(1);
}

.CancelBtn:hover {
  background-color: #110820;
  border: 2px solid white;
  color: white;
}

.DeleteBtn:hover {
  color: white;
  background-color: #ed0d0d;
  border: 2px solid white;
}

@media only screen and (max-width: 600px) {
  .RoomSpaceHeader {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
