.SideLinksContainer {
  background: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.SideLinks-Section {
  width: 100%;
}
.SectionTitle {
  color: gray;
}
.SearchInput {
  border: none;
  background: rgba(255, 255, 255, 0.268);
  width: 80%;
  border-radius: 7px;
  padding: 5px;
  color: white;
  outline: none;
  margin-bottom: 20px;
}
.SearchInput::placeholder {
  color: white;
}

/*****************************/
.UserSection {
  min-height: 6%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserImage {
  width: 40px;
}
.SideBarUserSectionGearBtn {
  justify-self: flex-end;
  background: none;
  border: none;
  font-size: larger;
  color: white;
  outline: none;
}
.UserNameDisplay {
  margin: 0;
}
.DropDownContainer {
  width: auto;
  display: flex;
  flex-direction: column;
}

.gear {
  transition: all 500ms;
}

.gear:hover {
  transform: rotate(0.5turn);
}

.DropDownItem {
  background: none;
  border: none;
  width: 100%;
  height: 30%;
  padding-left: -15px;
  text-align: left;
  line-height: 2rem;
  color: white;
  text-decoration: none;
  transition: all 1s;
}
.DropDownItem:hover {
  text-shadow: 5px 5px 5px black;
  background-color: rgba(255, 255, 255, 0.323);
}

/***********************************/

.CreateRoomLink {
  display: inline;
}

.RoomListScrollBar > div {
  max-height: 150px !important;
}

.RoomsList {
  list-style: none;
}

.RoomLink,
.SideBarRoomsLink {
  line-height: 2rem;
  height: 30px;
  width: 100%;
  color: rgba(255, 255, 255, 0.568);
  text-decoration: none;
  text-align: left;
  transition: all 500ms;
}

.RoomLink:hover {
  background-color: rgba(255, 255, 255, 0.256);
}

.RoomLink:hover .SideBarRoomsLink {
  color: white;
}
/********************************/

.FriendListSection {
  height: 300px;
}
.FriendListLink {
  text-decoration: none;
}

.SideBarFriendElement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 500ms;
  color: rgba(255, 255, 255, 0.568);
}

.SideBarFriendElement:hover {
  background-color: rgba(255, 255, 255, 0.261);
}

.SideBarFriendElement:hover h4 {
  color: white;
}

.SideBarFriendImg {
  margin: 10px;
  width: 40px;
  border-radius: 5px;
}

.Online,
.Offline {
  font-size: 10px;
}

.Online {
  color: #00f600;
}
.Offline {
  color: grey;
}

@media only screen and (max-width: 700px) {
  .UserSection {
    justify-content: center;
  }

  .DropDownContainer {
    width: 100%;
    z-index: 1232132132132;
    display: flex;

    justify-content: flex-start;
  }
  .UserNameDisplay,
  .UserImage,
  .UserName,
  .CreateRoomLink {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .SideLinksContainer {
    padding: 5px;
  }
  .DropDownContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .DropDownItem {
    padding: 0;
  }
}
