* {
  font-family: "Lato";
  box-sizing: border-box;
}
.App {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Interface {
  display: flex;
  justify-content: flex-start;
}

button {
  cursor: pointer;
  outline: none;
}
